<h2>Edit Profile <%#= resource_name.to_s.humanize %></h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'user-form' }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="field">
    <%= f.label :email, class: 'field-label'  %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'field-input' %>
  </div>
  <div class="field">
    <%= f.label :username, class: 'field-label' %><br />
    <%= f.text_field :username, class: 'field-input' %>
  </div>
  <div class="field">
    <%= f.label :name, class: 'field-label' %><br />
    <%= f.text_field :name, class: 'field-input' %>
  </div>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  <div class="field">
    <% f.label :password, class: 'field-label' %><br />
    <span class="field-label">
      Password
    </span>
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "New password", class: 'field-input' %>
    <% if @minimum_password_length %>
      <br />
    <% end %>
  </div>
  <div class="field">
    <% f.label :password_confirmation, class: 'field-label' %><br />
    <span class="field-label">
      Confirm
    </span>
    <%= f.password_field :password_confirmation, autocomplete: "new-password",placeholder: 'Confirm password', class: 'field-input' %>
  </div>
  <div class="field">
    <% f.label :current_password, class: 'field-label' %><br />
    <span class="field-label">
      Current
    </span>
    <%= f.password_field :current_password, autocomplete: "current-password", placeholder: 'Enter current password', class: 'field-input' %>
  </div>
  <div class="actions">
    <%= link_to "Cancel", :back, class: 'submit' %>
    <%= f.submit "Update", class: 'submit'  %>
    <%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: 'delete'  %>
  </div>
<% end %>
