<%= link_to "Back", post_path(@post), class: 'back-link' %>
<div class="post-container">
  <%= render 'comments/card', posts: @posts, comment: @comment, no_reply: true %>
  <%= form_with model: @comment_reply, url: comment_reply_path, html: { class: 'post-form' }  do |f| %>
    <%= f.hidden_field :comment_id, value: @comment.id %>
    <% f.label :content %>
    <%= f.text_area :content, class: 'text-area comment' %>
    <%= f.submit "Reply", class: 'submit' %>
  <% end %>
  <% @comment_replies.each do |comment_reply|%>
    <div class="reply-card">
      <div class="comment-text">
        <b style="color: #219ebc"><%= truncate(comment_reply.user.username, length: 10, omission: '...')%>;</b>
        @<%= comment_reply.comment.user.username%>
        <em>❝ <%= comment_reply.content %> ❞</em>
      </div>
      <div class="writer-name">
        <%= comment_reply.count_likes %>
      </div>
      <div class="likes-container">
        <% if ReplyLike.find_by(comment_reply: comment_reply, user: current_user) %>
          <%= button_to unlike_reply_path(comment_reply.id), method: :delete, class: 'icon-container comment' do %>
            <%= image_tag "unlike.svg", height: 20, class: 'active-like'  %>
          <% end %>
        <% else %>
          <%= button_to like_reply_path(comment_reply.id), method: :post, class: 'icon-container comment' do %>
            <%= image_tag "like.svg", height: 20, class: 'active-like' %>
            <%= image_tag "hover-like.svg", height: 20, class: 'hover-like' %>
          <% end %>
        <% end %>
        <% if can? :destroy_reply, comment_reply %>
          <%= button_to destroy_reply_path(comment_reply), method: :delete, class: 'icon-container comment'  do %>
            <%= image_tag "delete.svg", height: 20 %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
