<%= link_to "Back", posts_path %>
<h2><%= @post.title %></h2>
<div class="post-container">
  <p>
    <%= @post.content %>
  </p>
  <div class="likes-container">
    <% if PostLike.find_by(post: @post, user: current_user) %>
      <%= button_to unlike_path(@post.id), method: :delete, class: 'icon-container' do %>
        <%= image_tag "unlike.svg", height: 30, class: 'active-like'  %>
      <% end %>
    <% else %>
      <%= button_to like_path(@post.id), method: :post, class: 'icon-container' do %>
        <%= image_tag "like.svg", height: 30, class: 'active-like' %>
        <%= image_tag "hover-like.svg", height: 30, class: 'hover-like' %>
      <% end %>
    <% end %>
    00 likes
  </div>
  <div class="btn-container">
    <%= button_to "Change to private", posts_path, method: :post, class: 'submit' if @post.public %>
    <%= button_to "Delete", post_path(@post), method: :delete, class: 'delete' if can? :destroy, @post %>
  </div>
  <%= form_with model: @comment, url: comment_path  do |f| %>
    <%= f.hidden_field :post_id, value: @post.id %>
    <%= f.label :content %>: 
    <%= f.text_area :content %> <br>
    <%= f.submit "Comment" %>
  <% end %>
  <% @comments.each do |comment|%>
    <div class="comment-card">
      <%= comment.user.username%>: 
      <%= comment.content %> <br>
      <%= link_to "Reply", post_comment_path(@post, comment)%>
      <% if CommentLike.find_by(comment: comment, user: current_user) %>
        <%= button_to "Unlike", unlike_comment_path(comment.id), method: :delete %>
      <% else %>
        <%= button_to "Like", like_comment_path(comment.id), method: :post %>
      <% end %>
      <%= button_to "Delete", post_comment_path(@post, comment), method: :delete if can? :destroy, comment %>
    </div>
  <% end %>
</div>
