<div class="links-container">
  <%= link_to "Back", posts_path, class: 'back-link' %>
  <% if can? :update, @post %>
    <%= "|" %>
    <%= button_to post_path(@post), method: :patch, class: 'back-link link' do
        if @post.public
        "Change to private"
        else
        "Change to public"
        end
      end %>
  <% end %>
  <%= "|" if can? :destroy, @post %>
  <%= button_to "Delete", post_path(@post), method: :delete, class: 'back-link link del-link' if can? :destroy, @post %>
</div>
<h2><%= @post.title %></h2>
<div class="post-container">
  <div class="post-text">
    <span>
      <%= @post.content %>
    </span>
    <em class="writer-name">
      Writen by <%= @post.user.name %>
    </em>
    <section class="post-footer">
      <% if current_user.id == @post.user.id %>
        <span class="mine-tag tag">
          #mine
        </span>
      <% end %>
      <% if !@post.public && (current_user.role == 'admin' || current_user.id == @post.user.id) %>
        <span class="private-tag tag">
          #private
        </span>
      <% end %>
    </section>
  </div >
  <div class="likes-container">
    <% if PostLike.find_by(post: @post, user: current_user) %>
      <%= button_to unlike_path(@post.id), method: :delete, class: 'icon-container' do %>
        <%= image_tag "unlike.svg", height: 30, class: 'active-like'  %>
      <% end %>
    <% else %>
      <%= button_to like_path(@post.id), method: :post, class: 'icon-container' do %>
        <%= image_tag "like.svg", height: 30, class: 'active-like' %>
        <%= image_tag "hover-like.svg", height: 30, class: 'hover-like' %>
      <% end %>
    <% end %>
    <%= @post.count_likes %> |
    <%= @post.count_comments %>
  </div>
  <%= form_with model: @comment, url: comment_path, html: { class: 'post-form' }  do |f| %>
    <%= f.hidden_field :post_id, value: @post.id %>
    <% f.label :content %>
    <%= f.text_area :content, placeholder: 'Write a comment ...', class: 'text-area comment' %>
    <%= f.submit "Comment", class: 'submit' %>
  <% end %>
  <% @comments.each do |comment|%>
    <%= render 'comments/card', posts: @posts, comment: comment, no_reply: false %>
  <% end %>
</div>
