<h1>Post Details</h1>
<div class="post-card">
  <%= @post.title %> <br>
  <%= @post.content %> <br>
  <%= @post.public %>
  <%= button_to "Delete", post_path(@post), method: :delete %>
  <%= form_with model: @post_like, url: like_path do |f| %>
    <%= f.hidden_field :post_id, value: @post.id %>
    <%= f.submit @like_text %>
  <% end %>
  <%= form_with model: @comment, url: comment_path  do |f| %>
    <%= f.hidden_field :post_id, value: @post.id %>
    <%= f.label :content %>: 
    <%= f.text_area :content %> <br>
    <%= f.submit "Comment" %>
  <% end %>
  <% @comments.each do |comment|%>
    <div class="comment-card">
      <%= comment.user.username%>: 
      <%= comment.content %> <br>
      <%= form_with model: @comment_like, url: comment_like_path do |f| %>
        <%= f.hidden_field :comment_id, value: comment.id %>
        <% if CommentLike.find_by(comment: comment, user: current_user) %>
          <%= f.submit 'Unike comment' %>
        <% else %>
          <%= f.submit 'Like comment' %>
        <% end %>
      <% end %>
      <br>
    </div>
  <% end %>
</div>
